@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error";
}

<div class="container mt-4">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Oops, something went wrong!</h4>
        <p>An error occurred while processing your request.</p>
    </div>
</div>
